* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D4E7C2;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 

}

.titulo {
    text-align: center;
    padding: 2% 0 1% 0%;
}

.parrafo {
    text-align: center;
    padding-bottom: 1%;
}

.parrafo1 {
    text-align: center;
    padding-bottom: 1%;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 1%;
}

.contenedor1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 1%;
}

.lista {
    text-align: center;
    list-style-position: inside;
}

.contenido {
    flex: 1; 
}

footer {
    padding: 0 0 .5% .5%;
}